XTerm*faceName: xft:JetBrainsMono Nerd Font:size=10:antialias=true
XTerm*loginshell: true

! I like a LOT of scrollback...
XTerm*savelines: 16384

! double-click to select whole URLs :D
XTerm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

URxvt*imLocale: en_US.UTF-8
URxvt*termName: rxvt-unicode-256color
URxvt*buffered: false
URxvt.intensityStyles: false

URxvt.font: xft:JetBrainsMono Nerd Font:size=10,xft:Monospace:style=Medium:size=10   
URxvt.saveLines: 2000
URxvt.scrollBar: false
URxvt.cursorColor: white

!! Extensions
URxvt.perl-ext-common: default,matcher,resize-font,url-select,keyboard-select,clipboard
URxvt.colorUL: #4682B4
!! url-select
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: urxvt -e lynx -cfg=~/.lynx.cfg -lss=~/.lynx.lss
URxvt.url-select.underline: true
!! keyboard-select:
URxvt.keysym.M-Escape: perl:keyboard-select:activate
!! resize-font
URxvt.keysym.C-k:   font-size:increase
URxvt.keysym.C-j:   font-size:decrease
!! Matcher
URxvt.url-launcher:	urxvt -e lynx -cfg=~/.lynx.cfg -lss=~/.lynx.lss
URxvt.matcher.button: 1
!!clipboard
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt*depth: 32
! special
*.foreground:   #cfd1dd
*.background:   #13141d
*.cursorColor:  #cfd1dd

! black
*.color0:       #161825
*.color8:       #575b73

! red
*.color1:       #e27878
*.color9:       #e27878

! green
*.color2:       #a3be8c
*.color10:      #a3be8c

! yellow
*.color3:       #ebcb8b
*.color11:      #ebcb8b

! blue
*.color4:       #84a0c6
*.color12:      #84a0c6

! magenta
*.color5:       #a093c7
*.color13:      #a093c7

! cyan
*.color6:       #89b8c2
*.color14:      #89b8c2

! white
*.color7:       #c6c8d1
*.color15:      #cfd1dd


